@import url('https://fonts.googleapis.com/css?family=Montserrat:600|PT+Sans&display=swap')

body
    font-family: $font
    font-size: 16px
    line-height: 1.5
    color: $black
    background-color: rgb(240, 240, 240)

h1
    font-family: 'Montserrat', sans-serif
    font-size: 2em
    font-weight: 600

h2
    font-size: 1.2em

.btn
    display: inline-block
    font-family: $font
    font-size: 1em
    line-height: 1.5
    background-color: $white
    border: 1px solid rgba(169, 169, 169, 1)
    padding: 0.25em 1em

    &:disabled
        cursor: not-allowed

    i
        margin-right: 0.75em

.content
    padding: 2em

.container
    max-width: 60em
    margin: 0 auto

.header
    background-color: $orange
    color: rgb(30, 30, 30)
    padding: 0.25em 1em

    h1
        display: inline-block
        margin-right: 1em

    h2
        display: inline-block

.auth-error
    margin-top: 1em
    padding: 0.5em
    background-color: $orange
    color: $white

form
    max-width: 15em
    margin: 2em auto 0

    label
        font-weight: bold
        width: 100%
        text-align: left

    input
        width: 100%

    button
        width: 100%

input[type="text"]
    display: inline-block
    font-family: $font
    font-size: 1em
    line-height: 1.5
    background-color: $white
    border: 1px solid rgba(169, 169, 169, 1)
    padding: 0.25em 1em
    margin-bottom: 0.5em
