/* Colors
//==========================================================*/
$white: rgb(255, 255, 255)
$black: rgb(0, 0, 0)
$grey: rgb(220, 220, 220)
$orange: rgb(226, 67, 41)

/* Fonts
//==========================================================*/
$font: 'PT Sans', sans-serif

/* Breakpoints
//==========================================================*/
$nav-break: 1050
$nav-break-2: 1350

$break-s: 480
$break-m: 760
$break-l: 900
$break-xl: 1100
